.header1 {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* width: 349px;
    height: 88px; */
    position: sticky;
}

.content1 {
    width: 349px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-5xl);
    box-sizing: border-box;
}

.frame-parent2 {
    justify-content: flex-start;
    flex-direction: row;
    gap: var(--gap-3xs);
    display: flex;
    align-items: center;
}

.directory-parent {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-7xs);
}

.dir {
    position: relative;
    line-height: 150%;
    font-weight: 600;
}

.angle-down1 {
    position: relative;
    font-size: var(--font-size-mini);
    font-family: var(--font-font-awesome-6-pro);
}

.number-wrapper {
    display: flex;
    justify-content: flex-start;
    border-radius: var(--br-5xl);
    background-color: var(--gray-gray200);
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-11xs) var(--padding-5xs);
    font-size: var(--font-size-xs);
}

.plus-wrapper {
    position: relative;
    border-radius: var(--br-11xl);
    background-color: var(--primary);
    box-shadow: 0 0 15px rgba(65, 62, 189, 0.24);
    width: 40px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
    color: var(--white);
    font-family: var(--font-font-awesome-6-pro);
}

.plus-wrapper:hover{
    background-color: blue;
}

.plus {
    position: absolute;
    top: 10px;
    left: 11.25px;
    display: inline-block;
    width: 17.5px;
    text-align: center;
}

.divider2 {
    position: relative;
    background-color: var(--black);
    width: 349px;
    height: 1px;
    opacity: 0.08;
}